body {
	margin: 0;
	background-color: white;
}

.logo {
	margin-top: 35px;
	margin-left: 50px;
	width: 260px;
}

.banner {
	margin: 0;
	height: 120px;
	background: url(../Images/cascade_mountains.jpg) repeat #f4f2ec;
	Color: white;
  box-shadow: 5px 5px 2px #888888;
}
h1 {

   background-color: none;
   text-align:center;
   color:#D35400  ; 
   position: absolute;
   top: 200px;
   left: 700px; 
}
h2{
  background-color: none;
   text-align:center;
   color:#D35400  ; 
   font-size: 30px;
   position: absolute;
   top: 250px;
   left: 820px; 
}
p {
    color: black;
}
/*Main homepage box */
.mainBox {
 
  background: url("/Users/Kyleen/projects/src/Images/sun.jpeg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    height: 350px;
    padding: 50px;
    border: none;

   
}
/*footer for Homepage */
.footer{
  boder: 5px outset black; 
  background-color:#2C3E50; 
  color:white; 
  

}
.main-content {
	font-family: 'Open Sans', serif;
	margin-left: 25px;
}

/*button on homepage*/
.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
position:absolute; /*how to position button*/
    bottom: 40%;
    left:68%; 
}


.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);



/* this is for intakefdsfs form */

.boxed {
	border: 1px solid black ;
} 
