* {
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

html, body {
	margin: 0;
	background-color: white;
  height: 100%;
}

.home {
  background: url("../Images/green.jpg") no-repeat center center;
}

.logo {
	margin-top: 35px;
	margin-left: 50px;
	width: 260px;
}

.banner {
	margin: 0;
	height: 100px;
	background: url(../Images/cascade_mountains.jpg) repeat #f4f2ec;
}

p {
    color: black;
}

/*Main homepage box */
.mainBox {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 450px;
  padding: 50px; 
  margin-top: 10px; 
  min-height: 75%;
  margin-bottom: -100px;
}

/* this is to style the welcome text */
.welcome-header, p, h1, h2 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-family: "Open Sans", serif;
}

/* This is for sticky footer */
.mainBox:after {
  content: "";
  display: block;
}

.footer, .mainBox: after {
  height: 100px;
}
/* end of sticky footer */

.topright {
    position: absolute;
    top: 35px;
    right: 50px;
    font-size: 18px;
   
}
/*footer for Homepage */
.footer{
  color:white; 
  background: url("../Images/treeline.png")repeat-x bottom left #373737;
  color:#ffff;
  padding: 25px 50px 25px 50px;
  margin-top: 10px; 
  border-top:1px solid #c34500;
  font-family: "Open Sans", serif;
}
.main-content {
	font-family: 'Open Sans', serif;
	margin-left: 25px;
}

/*button on homepage*/
a.button {
  display: inline-block;
  padding: 15px 15px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
  position: absolute; /*how to position button */
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

}


.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);



/* this is for intake form */

.boxed {
	border: 1px solid black ;
} 
